<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
		<title></title>
		<link href="/static/css/main.css" rel="stylesheet" />
		<link href="/static/css/pay-auth-set.css" rel="stylesheet" />
	</head>
	<body>
    {% include 'base.html' with title='支付验证设置' %}
        <br /> <br /> 
 <div class="personal">
  <div class="personalout"> <a class="plist" href="#"> <span class="picon1"></span><span class="ptit">密码验证</span><span class="iconarrow"></span> </a> </div>
  
  <div class="personalout"> <a class="plist" href="#"> <span class="picon7"></span><span class="ptit">指纹验证</span><span class="iconarrow"></span> </a> </div>
  <div class="personalout"> <a class="plist" href="#"> <span class="picon6"></span><span class="ptit">人脸识别验证</span><span class="iconarrow"></span> </a> </div>
 
   <div class="personalout"> <a class="plist" href="#"> <span class="picon2"></span><span class="ptit">免验证支付</span><span class="iconarrow"></span> </a> </div>
</div>

        
		
	</body>
</html>
