<header class="ui-header ui-header-positive ui-border-b">
    <i class="ui-icon-return" onclick="history.back()"></i><h1>{{ title }} </h1>
    <a href="/index/"><button class="ui-btn">回首页</button> </a>
</header>

 <footer class="ui-footer ui-footer-btn">
     <ul class="ui-tiled ui-border-t">
         <li class="ui-border-r"><a href="/index/" style="color: #0caffa">个人中心 </a></li>
        <li class="ui-border-r"><a href="/ticket/" style="color: #0caffa">我的卡券 </a></li>
        <li class="ui-border-r"><a href="/setting/" style="color: #0caffa">设置 </a></li>
    </ul>
</footer>