<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
		<title></title>
		<link href="/static/css/main.css" rel="stylesheet" />
		<link href="/static/css/payment-set.css" rel="stylesheet" />
	</head>
	<body>
		{% include 'base.html' with title='支付设置' %}
        
        <br /> <br /> 
        
         <div class="personal">
  <div class="personalout"> <a class="plist" href="#"> <span class="picon8"></span><span class="ptit">优先支付方式</span><span class="iconarrow"></span> </a> </div>
  
  <div class="personalout"> <a class="plist" href="#"> <span class="picon9"></span><span class="ptit">支付宝</span><span class="iconarrow"></span> </a> </div>
  <div class="personalout"> <a class="plist" href="#"> <span class="picon10"></span><span class="ptit">微信</span><span class="iconarrow"></span> </a> </div>
   <div class="personalout"> <a class="plist" href="#"> <span class="picon11"></span><span class="ptit">银行卡</span><span class="iconarrow"></span> </a> </div>
</div>
	</body>
</html>
